### Heroes Of Pymoli Data Analysis

-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [61]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [30]:
#how am I defining players?  SN column
#how do I get a total number of values in that column?
number_of_players = purchase_data['SN'].nunique()
players = [{'Total Number of Players': number_of_players}]
total_players = pd.DataFrame(players)
total_players

   Total Number of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [31]:
#number of unique items = Item Name column (count unique)
#average price = Price column (mean)
#number of purchases = Purchase ID (total count)
#total revenue = Price column (sum)

unique_items = purchase_data['Item Name'].count()
unique_items

average_price = purchase_data['Price'].mean()
average_price

num_purchases = purchase_data['Purchase ID'].count()
num_purchases

total_revenue = purchase_data['Price'].sum()
total_revenue

my_values = [{"Number of Unique Items": unique_items, "Average Price": average_price, "Number of Purchases": num_purchases, "Total Revenue": total_revenue}]

summary_table = pd.DataFrame(my_values)
summary_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     780       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [32]:
#Count of Females = SN column (nunique!)
female_players = purchase_data[purchase_data['Gender'] == 'Female']
female_players['SN'].nunique()

81

In [33]:
#Count of Males = Purchase ID column (nunique!), grouped by gender
male_players = purchase_data[purchase_data['Gender'] == 'Male']
male_players['SN'].nunique()

484

In [34]:
#Count of Other / Non-Disclosed  = Purchase ID column (nunique!), grouped by gender
non_binary_players = purchase_data[purchase_data['Gender'] == 'Other / Non-Disclosed']
non_binary_players['SN'].nunique()

11

In [35]:
#percentage_by_gender = number of females divided by number of players from earlier question
percent_females =  (female_players['SN'].nunique() / total_players) * 100
percent_females

   Total Number of Players
0                  14.0625

In [36]:
#percentage_by_gender = number of males divided by number of players from earlier question
percent_males =  (male_players['SN'].nunique() / total_players) * 100
percent_males

   Total Number of Players
0                84.027778

In [37]:
#percentage_by_gender = number of non-binary players divided by number of players from earlier question
percent_non_binary =  (non_binary_players['SN'].nunique() / total_players) * 100
percent_non_binary

   Total Number of Players
0                 1.909722

In [38]:
gender_values = [{"Gender": "Male", "Total Count": 484, "Percentage of Players": 84.03},
                 {"Gender": "Female", "Total Count": 81, "Percentage of Players": 14.01},
                 {"Gender": "Other / Non-Disclosed", "Total Count": 11, "Percentage of Players": 1.91}]
                  
gender_summary = pd.DataFrame(gender_values)
gender_summary

                  Gender  Total Count  Percentage of Players
0                   Male          484                  84.03
1                 Female           81                  14.01
2  Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [39]:
#total_purchases_by_gender = purchase_data.grouby(['Gender'])
#total_purchases_by_gender['Purchase ID'].count()

purchases_by_group = purchase_data.groupby(['Gender'])
purchases_by_group['Price'].count()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [40]:
#average purchase price = mean of price (by gender)
gender_group = purchase_data.groupby(['Gender'])
gender_group['Price'].mean()

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [41]:
#total purchase value by gender
gender_group = purchase_data.groupby(['Gender'])
gender_group['Price'].sum()

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [42]:
#avg. purchase total per person

#purchase total of female players / number of females
avg_total_females = (female_players['Price'].sum() / female_players['SN'].nunique())
print('Avg Purchase Females' + ' ' + str(avg_total_females))

#purchase total of male players / number of males
avg_total_males = (male_players['Price'].sum() / male_players['SN'].nunique())
print('Avg Purchase Males' + ' ' + str(avg_total_males))

#purchase total of non-binary players / number of non-binary players
avg_total_non_binary = (non_binary_players['Price'].sum() / non_binary_players['SN'].nunique())
print('Avg Purchase Non-Binary Players' + ' ' + str(avg_total_non_binary))

Avg Purchase Females 4.468395061728395
Avg Purchase Males 4.065371900826446
Avg Purchase Non-Binary Players 4.5627272727272725

In [43]:
gender_analysis = [{"Gender": "Male", "Purchase Count": 652, "Average Purchase Price": '$3.02', "Total Purchase Value": '$1,967.64', "Avg Total Purchase per Person": '$4.07'},
                 {"Gender": "Female", "Purchase Count": 113, "Average Purchase Price": '$3.20', "Total Purchase Value": '$361.94', "Avg Total Purchase per Person": '$4.47'},
                 {"Gender": "Other / Non-Disclosed", "Purchase Count": 15, "Average Purchase Price": '$3.35', "Total Purchase Value": '$50.19', "Avg Total Purchase per Person": '$4.56'}]
                  
gender_totals = pd.DataFrame(gender_analysis)
gender_totals

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Male,652,$3.02,"$1,967.64",$4.07
1,Female,113,$3.20,$361.94,$4.47
2,Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [62]:
#create bins for ages - unexpectedly, this pd.cut replaced the ages with the age bins
age_bins = [0, 10, 15, 20, 25, 30, 35, 40, 45]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-45"]
purchase_data["Age"] = pd.cut(purchase_data["Age"], age_bins, labels=age_labels)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,15-19,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,35-39,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,20-24,Male,92,Final Critic,4.88
3,3,Chamassasya86,20-24,Male,100,Blindscythe,3.27
4,4,Iskosia90,20-24,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,20-24,Female,60,Wolf,3.54
776,776,Iral74,20-24,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,15-19,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,<10,Male,101,Final Critic,4.19
779,779,Ennrian78,20-24,Male,50,Dawn,4.60

In [45]:
#Calculate the number of players by age group
age_grouped_data = purchase_data.groupby("Age")
players_by_age = age_grouped_data[["SN"]].nunique()
players_by_age

        SN
Age
<10     24
10-14   41
15-19  150
20-24  232
25-29   59
30-34   37
35-39   26
40-45    7

In [46]:
#Calculate the percentages of players by age group
#percent = number of each age group divided by total number of players

percent_by_age = (age_grouped_data[["SN"]].nunique() / 576) * 100
percent_by_age

              SN
Age
<10     4.166667
10-14   7.118056
15-19  26.041667
20-24  40.277778
25-29  10.243056
30-34   6.423611
35-39   4.513889
40-45   1.215278

In [47]:
age_demographics = pd.concat([players_by_age, percent_by_age], axis=1)
age_demographics.columns = ["Total Count", "Percentage of Players"]
print(age_demographics)

       Total Count  Percentage of Players
Age
<10             24               4.166667
10-14           41               7.118056
15-19          150              26.041667
20-24          232              40.277778
25-29           59              10.243056
30-34           37               6.423611
35-39           26               4.513889
40-45            7               1.215278

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [50]:
age_bins = [0, 10, 15, 20, 25, 30, 35, 40, 45]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-45"]
purchase_data["Age"] = pd.cut(purchase_data["Age"], age_bins, labels=age_labels)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,15-19,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,35-39,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,20-24,Male,92,Final Critic,4.88
3,3,Chamassasya86,20-24,Male,100,Blindscythe,3.27
4,4,Iskosia90,20-24,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,20-24,Female,60,Wolf,3.54
776,776,Iral74,20-24,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,15-19,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,<10,Male,101,Final Critic,4.19
779,779,Ennrian78,20-24,Male,50,Dawn,4.60

In [51]:
#purchase count by age group

age_grouped_data = purchase_data.groupby("Age")
purchase_count = age_grouped_data[["Purchase ID"]].count()
purchase_count

       Purchase ID
Age
<10             32
10-14           54
15-19          200
20-24          325
25-29           77
30-34           52
35-39           33
40-45            7

In [52]:
#avg. purchase price - mean of price (by age)

age_grouped_data = purchase_data.groupby("Age")
age_grouped_data['Price'].mean()

Age
<10      3.405000
10-14    2.900000
15-19    3.107800
20-24    3.020431
25-29    2.875584
30-34    2.994423
35-39    3.404545
40-45    3.075714
Name: Price, dtype: float64

In [53]:
#purchase total value

age_grouped_data = purchase_data.groupby("Age")
purchase_total_value = age_grouped_data[["Price"]].sum()
purchase_total_value

        Price
Age
<10    108.96
10-14  156.60
15-19  621.56
20-24  981.64
25-29  221.42
30-34  155.71
35-39  112.35
40-45   21.53

In [144]:
#avg. purchase total per person = purchase total of each age group / number of players in that age group

#purchase total of each age group
age_grouped_data = purchase_data.groupby("Age")
purchase_total_value = age_grouped_data[["Price"]].sum()
purchase_total_value

#number of players in that age group
age_grouped_data = purchase_data.groupby("Age")
players_by_age = age_grouped_data[["SN"]].nunique()
players_by_age

#avg. purchase total per person
purchase_total_per_person = purchase_total_value / players_by_age
purchase_total_per_person

#I'm not sure how to divide these two binned sets of values

       Price  SN
Age
<10      NaN NaN
10-14    NaN NaN
15-19    NaN NaN
20-24    NaN NaN
25-29    NaN NaN
30-34    NaN NaN
35-39    NaN NaN
40-45    NaN NaN

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [131]:
#How would I calculate top spenders?

#get a list of purchase value for each player - this will show purchase count
purchase_by_player = purchase_data.groupby(['SN'])
grouped_players = purchase_by_player['Price'].sum()

#This code double-checks purchase value for a single player
#purchase_of_a_player = purchase_data[purchase_data['SN'] == 'Lisosia93']
#purchase_of_a_player['Price'].sum()


#sort in descending order 
#grouped_players.sort_values(ascending=False)

#the top five SN's will be my top spenders
#I'll use .iloc [rows I want, columns I want]
top_spenders = pd.DataFrame(grouped_players.sort_values(ascending=False))
top_spender_df = top_spenders.iloc[:5,:]
top_spender_df

             Price
SN
Lisosia93    18.96
Idastidru52  15.45
Chamjask73   13.83
Iral74       13.62
Iskadarya95  13.10

In [132]:
#Then I want a total purchase count for each top player
#Could this be a count of Purchase ID for just these 5 players?

#filtered list of top players
sn_index = purchase_data.set_index("SN")
filtered_players = sn_index.loc[['Lisosia93', 'Idastidru52', 'Chamjask73', 'Iral74', 'Iskadarya95'],'Purchase ID']
grouped_top_players = filtered_players.groupby("SN")
grouped_top_players_df = grouped_top_players.count()
grouped_top_players_df

SN
Chamjask73     3
Idastidru52    4
Iral74         4
Iskadarya95    3
Lisosia93      5
Name: Purchase ID, dtype: int64

In [135]:
#Then I want average purchase price

#avg. purchase price - mean of price for each top player

#age_grouped_data = purchase_data.groupby("Age")
#age_grouped_data['Price'].mean()

sn_index = purchase_data.set_index("SN")
filtered_players_price = sn_index.loc[['Lisosia93', 'Idastidru52', 'Chamjask73', 'Iral74', 'Iskadarya95'],'Price']
avg_purch = filtered_players_price.groupby("SN")
top_player_avg_spend = avg_purch.mean()
top_player_avg_spend

SN
Chamjask73     4.610000
Idastidru52    3.862500
Iral74         3.405000
Iskadarya95    4.366667
Lisosia93      3.792000
Name: Price, dtype: float64

In [137]:
#summary data frame

top_player_analysis = pd.concat([top_spender_df, grouped_top_players_df, top_player_avg_spend], axis=1)
top_player_analysis.columns = ["Total Purchase Value", "Purchase Count", "Average Purchase Price"]
print(top_player_analysis)

#I only keep my sort if I list the df I sorted on which is 'total purchase value'

             Total Purchase Value  Purchase Count  Average Purchase Price
Lisosia93                   18.96               5                3.792000
Idastidru52                 15.45               4                3.862500
Chamjask73                  13.83               3                4.610000
Iral74                      13.62               4                3.405000
Iskadarya95                 13.10               3                4.366667

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [146]:
# Code for "Most Popular Items"
# Replace parts of the code below with the correct columns and methods.

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,15-19,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,35-39,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,20-24,Male,92,Final Critic,4.88
3,3,Chamassasya86,20-24,Male,100,Blindscythe,3.27
4,4,Iskosia90,20-24,Male,131,Fury,1.44

In [153]:
# select necessary columns from purchase_data (first cell)
top_items_df = purchase_data[["Item ID","Item Name","Price"]]
top_items_df

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778      101                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [166]:
#Group by Item ID and Item Name. 
#Perform calculations to obtain purchase count

# create a groupby object that will allow us to perform calculations
grouped_items_df = top_items_df.groupby(["Item ID", "Item Name"])

# identify most popular items by sorting number of purchases
purch_count_series = grouped_items_df['Item ID'].count()
purch_count_series.sort_values(ascending=False)

Item ID  Item Name
178      Oathbreaker, Last Hope of the Breaking Storm    12
82       Nirvana                                          9
108      Extraction, Quickblade Of Trembling Hands        9
145      Fiery Glass Crusader                             9
92       Final Critic                                     8
                                                         ..
42       The Decapitator                                  1
118      Ghost Reaver, Longsword of Magic                 1
104      Gladiator's Glaive                               1
27       Riddle, Tribute of Ended Dreams                  1
51       Endbringer                                       1
Name: Item ID, Length: 183, dtype: int64

In [177]:
#Perform calculations to obtain item price and total purchase value

purch_price_series = grouped_items_df['Price'].min()
purch_price_series.loc[['178', '82', '108', '145', '92'], 'Price']



#this is where I had to stop :-(

Series([], Name: Price, dtype: float64)

In [ ]:
#purch_sum_series = grouped_items_df['some col'].some_method()

In [ ]:
# create a dict of Column Names and Series
series_dict = {"Purchase Count":purch_count_series,
              "Item Price":purch_price_series,
              "Total Purchase Value":purch_sum_series}

# create dataframe from dict
top_items_df = pd.DataFrame.some_method(series_dict)
top_items_df.head()

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame