### Heroes Of Pymoli Data Analysis

-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
purchase_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

## Player Count

* Display the total number of players

In [4]:
#how am I defining players?  SN column
#how do I get a total number of values in that column?
purchase_data['SN'].nunique()

576

In [5]:
#This cell validates that there are 576 unique player IDs.
purchase_data['SN'].value_counts()

Lisosia93      5
Iral74         4
Idastidru52    4
Umolrian85     3
Zontibe81      3
              ..
Philodil43     1
Aellynun67     1
Hariphos58     1
Lisiriya82     1
Chadossa89     1
Name: SN, Length: 576, dtype: int64

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#number of unique items = Item Name column (count unique)
#average price = Price column (mean)
#number of purchases = Purchase ID (total count)
#total revenue = Price column (sum)

unique_items = purchase_data['Item Name'].count()
unique_items

average_price = purchase_data['Price'].mean()
average_price

num_purchases = purchase_data['Purchase ID'].count()
num_purchases

total_revenue = purchase_data['Price'].sum()
total_revenue

2379.77

In [7]:
my_values = [{"Number of Unique Items": unique_items, "Average Price": average_price, "Number of Purchases": num_purchases, "Total Revenue": total_revenue}]

# The keys of the dictionary represent the column headers of our eventual dataframe
#keys: 'Number of Unique Items', 'Average Price', 'Number of Purchases', 'Total Revenue'

# The lists contain the data for each column
#lists: 'unique_items'  'average_price'  'num_purchases'  'total_revenue'

summary_table = pd.DataFrame(my_values)
summary_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     780       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [38]:
#Count of Females = SN column (nunique!)
purchase_by_gender = purchase_data[purchase_data['Gender'] == 'Female']
purchase_by_gender['SN'].nunique()

81

In [39]:
#Count of Males = Purchase ID column (nunique!), grouped by gender
purchase_by_gender = purchase_data[purchase_data['Gender'] == 'Male']
purchase_by_gender['SN'].nunique()

484

In [40]:
#Count of Other / Non-Disclosed  = Purchase ID column (nunique!), grouped by gender
purchase_by_gender = purchase_data[purchase_data['Gender'] == 'Other / Non-Disclosed']
purchase_by_gender['SN'].nunique()

11

In [ ]:
#Total players = 576

In [9]:

purchase_data['Gender'].count()

780

In [10]:
#df[percent] = (df['column_name'] / df['column_name'].sum()) * 100

gender_percents = pd.DataFrame(purchase_data['Gender'].value_counts() / purchase_data['Gender'].count() * 100)
gender_percents

                          Gender
Male                   83.589744
Female                 14.487179
Other / Non-Disclosed   1.923077

In [11]:
gender_demographics = pd.merge(gender_counts, gender_percents.astype(int), on="Gender", how="outer")
#gender_demographics = pd.DataFrame([{'Total Count': gender_counts, 'Percentage of Players': gender_percents.astype(int)}])
gender_demographics

#I need some help putting my two sets of values together into one DataFrame

   Gender
0     652
1     113
2      15
3      83
4      14
5       1


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
#purchase count by gender = Purchase ID column, grouped by gender
#gender_counts = pd.DataFrame(purchase_data['Gender'].value_counts())
#gender_counts

#how do I get just a couple of columns out of the original data frame?  Gender and Purchase ID?

purchase_by_gender = purchase_data[['Gender', 'Purchase ID']]
purchase_by_gender.value_counts('Gender')

Gender
Male                     652
Female                   113
Other / Non-Disclosed     15
dtype: int64

In [13]:
#average purchase price = mean of price (by gender)

#avg_price_by_gender = purchase_data[['Gender', 'Price']]
#avg_price_by_gender

gender_group = purchase_data.groupby(['Gender'])
gender_group['Price'].mean()

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [14]:
#total purchase value by gender
gender_group = purchase_data.groupby(['Gender'])
gender_group['Price'].sum()

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [15]:
#avg. purchase total per person
#purchase total by gender / number of people


avg_total_person = (gender_group['Price'].sum() / purchase_by_gender.value_counts('Gender'))
avg_total_person

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
dtype: float64

In [16]:
#Finally, I need to add all of these figures into a summary DataFrame....I'm waiting for help on that.

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [17]:
#what range of ages am I looking at? (ages 7 - 45)
#age = pd.DataFrame(purchase_data['Age'])
#sorted_age = age.value_counts('Age')
#sorted_age

#what are my bin edges?
#age ranges = 0 - 9, 10 - 14, 15 - 19, 20 - 24, 25 - 29, 30 - 34, 35 - 39, 40 - 45
#bin edges = 0, 10, 15, 20, 25, 30, 35, 40

#what are my bin labels?

age_bins = [0, 10, 15, 20, 25, 30, 35, 40, 45]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-45"]

#pd.cut(purchase_data["Age"], age_bins, labels=age_labels)


pd.cut(purchase_data['Age'], age_bins, labels=age_labels)

0      15-19
1      35-39
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    15-19
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '40-45']

In [18]:
age_bins = [0, 10, 15, 20, 25, 30, 35, 40, 45]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-45"]
purchase_data["Age"] = pd.cut(purchase_data["Age"], age_bins, labels=age_labels)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,15-19,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,35-39,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,20-24,Male,92,Final Critic,4.88
3,3,Chamassasya86,20-24,Male,100,Blindscythe,3.27
4,4,Iskosia90,20-24,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,20-24,Female,60,Wolf,3.54
776,776,Iral74,20-24,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,15-19,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,<10,Male,101,Final Critic,4.19
779,779,Ennrian78,20-24,Male,50,Dawn,4.60

In [35]:
age_grouped_data = purchase_data.groupby("Age")
age_grouped_data[["Purchase ID"]].count()
age_totals = age_grouped_data[["Purchase ID"]].count() * 1
age_totals

       Purchase ID
Age
<10             32
10-14           54
15-19          200
20-24          325
25-29           77
30-34           52
35-39           33
40-45            7

In [33]:
#df[percent] = (df['column_name'] / df['column_name'].sum()) * 100

age_grouped_data = purchase_data.groupby("Age")
age_percents = (age_grouped_data[["Purchase ID"]].count() / 780) * 100
age_percents

       Purchase ID
Age
<10       4.102564
10-14     6.923077
15-19    25.641026
20-24    41.666667
25-29     9.871795
30-34     6.666667
35-39     4.230769
40-45     0.897436

In [37]:
combine_df = pd.concat([age_totals, age_percents], axis=1)
combine_df.columns = ["Total Count", "Percentage of Players"]
print(combine_df)

       Total Count  Percentage of Players
Age
<10             32               4.102564
10-14           54               6.923077
15-19          200              25.641026
20-24          325              41.666667
25-29           77               9.871795
30-34           52               6.666667
35-39           33               4.230769
40-45            7               0.897436

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80