### Heroes Of Pymoli Data Analysis

-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [3]:
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [4]:
purchase_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

In [5]:
purchase_data['SN']

0            Lisim78
1        Lisovynya38
2         Ithergue48
3      Chamassasya86
4          Iskosia90
           ...
775       Aethedru70
776           Iral74
777       Yathecal72
778          Sisur91
779        Ennrian78
Name: SN, Length: 780, dtype: object

In [6]:
purchase_data['SN'] == 'Lisim78'

0       True
1      False
2      False
3      False
4      False
       ...
775    False
776    False
777    False
778    False
779    False
Name: SN, Length: 780, dtype: bool

In [13]:
purchase_data['Item Name']

0      Extraction, Quickblade Of Trembling Hands
1                              Frenzied Scimitar
2                                   Final Critic
3                                    Blindscythe
4                                           Fury
                         ...
775                                         Wolf
776                             Exiled Doomblade
777        Celeste, Incarnation of the Corrupted
778                                 Final Critic
779                                         Dawn
Name: Item Name, Length: 780, dtype: object

In [15]:
Final_Critic = (purchase_data['Item Name'] == 'Final Critic')

In [18]:
purchase_data.loc[Final_Critic, ['Purchase ID', 'SN', 'Price']]

     Purchase ID            SN  Price
2              2    Ithergue48   4.88
99            99  Haisrisuir60   4.19
252          252      Tyaelo67   4.88
273          273      Phyali88   4.88
277          277    Ennalmol65   4.88
411          411      Lisico81   4.19
536          536   Siallylis44   4.19
712          712     Lisilsa62   4.88
722          722      Ilarin91   4.88
767          767       Ilmol66   4.88
768          768  Assassasta79   4.88
774          774    Jiskjask80   4.19
778          778       Sisur91   4.19

In [19]:
Final_Critic.value_counts(dropna=False)

False    767
True      13
Name: Item Name, dtype: int64

In [20]:
shopper_name = purchase_data['SN']

In [25]:
shopper_name.value_counts(dropna=False)

Lisosia93      5
Idastidru52    4
Iral74         4
Zontibe81      3
Aina42         3
              ..
Firon67        1
Alo38          1
Sundjask71     1
Chadossa56     1
Malil90        1
Name: SN, Length: 576, dtype: int64

In [26]:
purchase_data['Item Name'].apply(len)

0      41
1      17
2      12
3      11
4       4
       ..
775     4
776    16
777    37
778    12
779     4
Name: Item Name, Length: 780, dtype: int64